.wrapper {
  position: relative;

  .fades {
    position: absolute;
    width: 100%;
    height: 80vh;

    .fadeTop {
      position: absolute;
      top: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(to bottom, var(--j-color-white), transparent);
      z-index: 10;
    }

    .fadeBottom {
      position: absolute;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(to top, var(--j-color-white), transparent);
      z-index: 10;
    }

    .line {
      height: 100%;
      width: 6px;
      margin-left: 177px;
      background-color: var(--j-color-primary-400);
    }
  }

  .items {
    height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .line {
      height: 100px;
      width: 6px;
      margin-left: 177px;
      background-color: var(--j-color-primary-400);
    }
  }

  &.match {
    .line {
      background-color: var(--j-color-success-500);
    }
  }
}
