.outer {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr;
  height: 100%;
  padding: 0 var(--j-space-500);
}

.join {
  text-align: center;
}
