.item {
    display: flex;
    gap: var(--j-space-400);
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    gap: var(--j-space-400);
    align-items: center;
}

.username {
    font-size: bold;
}