.fileUpload {
  width: 100%;
}

.dropZone {
  width: 100%;
  outline: 0;
  padding: var(--j-space-500);
  border-radius: var(--j-border-radius);
  border: 1px dashed var(--j-color-ui-300);
  text-align: center;
}

.dropZone:hover {
  border: 1px dashed var(--j-color-ui-500);
}

.isFocused {
  border: 1px dashed var(--j-color-primary-500);
}

.files {
  margin-top: var(--j-space-400);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--j-space-300);
}

.file {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--j-space-300);
}

.fileImage {
  width: 100%;
}

.fileImage img {
  border-radius: var(--j-border-radius);
  width: 100%;
  max-width: 100%;
}