:root[theme="dark"] {
  --j-color-saturation: 50%;

  --j-color-subtractor: 110%;
  --j-color-multiplier: -1;

  /*  App specific styles */
  --app-main-sidebar-bg-color: hsl(var(--j-color-ui-hue), 10%, 8%);
  --app-main-sidebar-border-color: transparent;
  --app-drawer-bg-color: hsl(var(--j-color-ui-hue), 10%, 10%);
  --app-drawer-border-color: transparent;
  --app-main-content-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-header-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-footer-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-border-color: transparent;
}

:root[theme="dark"] j-modal::part(modal) {
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
}

:root[theme="dark"] j-tooltip::part(tooltip) {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
}

:root[theme="dark"] j-menu-item::part(base) {
  margin-top: var(--j-space-100);
  margin-left: var(--j-space-300);
  margin-right: var(--j-space-300);
  border-radius: 6px;
}
