/node_modules
/ad4m/data
/ad4m/holochain
/ad4m/languages/**/*.js
!/ad4m/languages/**/dna.js
!/ad4m/languages/**/rollup.config.js
!/ad4m/languages/**/rollup.config.icons.js
/ad4m/languages/**/*.js.map
/ad4m/languages/**/node_modules
.hc