.outline {
  border: 1px solid var(--j-color-ui-200);
  border-radius: var(--j-border-radius);
  background-color: var(--j-color-ui-50);
  margin: var(--j-space-400) auto 0 auto;
  padding: var(--j-space-500);
  width: 100%;
  max-width: 1000px;
}
