.editor {
  --body-min-height: auto;
  --grid-template-areas: "toolbar toolbar toolbar" "body body footer";
}
.editor::part(base) {
}
.editor::part(toolbar) {
  display: none;
}
.editor[aria-expanded="true"]::part(toolbar) {
  display: block;
}
.editor::part(footer) {
  align-items: end;
  border: 0;
}

.footer {
  display: block;
  padding: var(--j-space-400) var(--j-space-500);
  bottom: 0;
  left: 0;
}
