.editor {
  --body-min-height: auto;
  --grid-template-areas: "toolbar toolbar toolbar" "body body footer";
}
.editor::part(base) {
}
.editor::part(toolbar) {
  display: none;
}
.editor[aria-expanded="true"]::part(toolbar) {
  display: block;
}
.editor::part(footer) {
  align-items: end;
  border: 0;
}

.footer {
  background-color: var(--j-color-white);
  display: block;
  padding: 0 var(--j-space-800);
  padding-bottom: var(--j-space-400);
  bottom: 0;
  left: 0;
}
