.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: var(--j-space-500);
  padding-right: var(--j-space-500);
  padding-top: var(--j-space-500);
  display: flex;
  flex-direction: column;
}
