<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flux App</title>
    <style>
      html {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--j-color-ui-800);
        background: var(--j-color-white);
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      flux-app {
        height: 100%;
        max-height: 100vh;
        overflow-y: auto;
        display: block;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <flux-container></flux-container>

    <script type="module">
      import App from "./src/main.ts";
      import "@fluxapp/flux-container";
      import { name } from "./package.json";
      import { generateWCName } from "@fluxapp/api";

      const defineApp = async () => {
        const container = document.querySelector("flux-container");
        const wcName = await generateWCName(name);
        customElements.define(wcName, App);

        const el = document.createElement(wcName);
        container.append(el);
      };

      defineApp();
    </script>
  </body>
</html>
