.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--j-space-300);
    background-color: var(--j-color-warning-50);
    border: 1px solid var(--j-color-warning-500);
    border-radius: var(--j-border-radius);
    padding: var(--j-space-300);
    max-width: 350px;
    text-align: left;
}

@media (min-width: 800px) {
    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--j-space-400);
        margin: var(--j-space-400);
    }
}