.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--j-space-500);
}

.gridItem {
  text-align: left;
  cursor: pointer;
  background: var(--j-color-white);
  border-radius: var(--j-border-radius);
  padding: var(--j-space-500);
  border: 1px solid var(--j-color-ui-100);
}

.gridItem:hover {
  border: 1px solid var(--j-color-primary-500);
}
