:root[theme="light"] {
  --app-main-sidebar-bg-color: hsl(var(--j-color-ui-hue), 0%, 100%);
  --app-main-sidebar-border-color: hsl(var(--j-color-ui-hue), 0%, 95%);

  --app-drawer-bg-color: hsl(var(--j-color-ui-hue), 0%, 100%);
  --app-drawer-border-color: hsl(var(--j-color-ui-hue), 0%, 95%);

  --app-main-content-bg-color: hsl(var(--j-color-ui-hue), 0%, 100%);

  --app-channel-bg-color: hsl(var(--j-color-ui-hue), 0%, 99%);
  --app-channel-header-bg-color: hsl(var(--j-color-ui-hue), 0%, 100%);
  --app-channel-footer-bg-color: hsl(var(--j-color-ui-hue), 0%, 100%);
  --app-channel-border-color: hsl(var(--j-color-ui-hue), 0%, 100%);
}

:root[theme="light"] j-menu-item::part(base) {
  margin-top: var(--j-space-100);
  margin-left: var(--j-space-400);
  margin-right: var(--j-space-400);
  border-radius: 6px;
}
