.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--j-font-family);
    background-color: #000000c4;
    padding: var(--j-space-400);
    overflow-x: hidden;
    color: white;

    animation: appear 0.3s ease both;
}

.list {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: var(--j-space-400);
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
}

.list > li {
    position: relative;
    display: block;
    border: 1px solid white;
    min-width: 20%;
    padding: var(--j-space-400);
    overflow: scroll;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-400);
    padding-top: var(--j-space-400);
}