.messageList {
  display: grid;
  position: relative;
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
  grid-template-columns: 1fr;
  gap: var(--j-space-500);
  width: 100%;
  padding: 0;
}

.scroller {
  height: 100%;
}

.loadMore {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
