.table {
  border-spacing: 0;
  border-collapse: collapse;
  background: var(--j-color-white);
  width: 100%;
  font-size: var(--j-font-size-400);
  text-align: left;
  display: table;
  table-layout: fixed;
}

.table tr {
  display: table-row;
}

.table td {
  display: table-cell;
}

.table th,
.table td {
  border: 1px solid var(--j-color-ui-200);
  padding: var(--j-space-300) var(--j-space-400);
}

.table thead th {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
  font-weight: 400;
  text-transform: capitalize;
}

.table tbody td {
  cursor: pointer;
  font-weight: 400;
  color: var(--j-color-black);
}

.table tbody tr:hover {
  background-color: var(--j-color-ui-50);
}

.table thead th:first-of-type {
  border-top-left-radius: var(--j-border-radius);
}

.table thead th:last-of-type {
  border-top-right-radius: var(--j-border-radius);
}

.table thead th:first-of-type,
.table tbody td:first-of-type {
  border-left: 0;
}

.table thead th:last-of-type,
.table tbody td:last-of-type {
  border-right: 0;
}
