<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum View</title>
    <style>
      body {
        -webkit-font-smoothing: antialiased;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        text-rendering: optimizeLegibility;
        color: var(--j-color-ui-800);
        font-family: var(--j-font-family);
        background-color: var(--j-color-white);
      }
      html {
        box-sizing: border-box;
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@fluxapp/ui@latest/dist/main.css"
    />
    <script src="https://unpkg.com/@fluxapp/ui@latest"></script>
  </head>
  <body>
    <perspective-view style="height: 100vh; display: block"></perspective-view>
    <script type="module">
      import Ad4mConnectUI from "@perspect3vism/ad4m-connect";
      import ForumView from "./src/main.ts";

      const ui = Ad4mConnectUI({
        appName: "Forum App",
        appDesc: "A forum app",
        appDomain: "flux.forum.io",
        appIconPath: "https://i.ibb.co/GnqjPJP/icon.png",
        capabilities: [{ with: { domain: "*", pointers: ["*"] }, can: ["*"] }],
      });

      ui.connect();

      const el = document.querySelector("perspective-view");
      const [_, uuid, source] = document.location.pathname.split("/");

      el.setAttribute("perspective", decodeURIComponent(uuid));
      el.setAttribute("source", decodeURIComponent(source));
      customElements.define("perspective-view", ForumView);
    </script>
  </body>
</html>
