.wrapper {
  position: relative;
  display: flex;
  align-items: stretch;

  .button {
    all: unset;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .timestamp {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    color: var(--j-color-ui-500);
    font-size: 14px;
  }

  .position {
    position: relative;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    flex-shrink: 0;
    pointer-events: none;

    .line {
      height: 100%;
      width: 6px;
      background-color: var(--j-color-primary-400);
    }

    .node {
      all: unset;
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--j-color-primary-400);
      transition: all 0.3s;
    }
  }

  .content {
    word-break: break-word;
    width: 100%;
    margin: 30px 0;

    .tag {
      all: unset;
      cursor: pointer;
      border: 1px solid var(--j-color-primary-500);
      border-radius: 8px;
      padding: 8px 10px;
      background-color: var(--j-color-ui-50);
      color: var(--j-color-primary-500);
      font-weight: 600;
      font-size: 15px;
      z-index: 5;

      &.focus {
        border: 1px solid white;
        color: white;
      }

      &.vector {
        border: 1px solid var(--j-color-success-500);
        color: var(--j-color-success-500);
      }
    }

    .text {
      p {
        margin: 0;
      }
    }
  }

  &.selected {
    .timestamp {
      color: white;
      font-size: 16px;
    }

    .node {
      width: 36px;
      height: 36px;
    }

    .content {
      border: 1px solid var(--j-color-ui-300);
      border-radius: var(--j-border-radius);
      padding: var(--j-space-400);
      background-color: var(--j-color-ui-100);
    }
  }

  &.match {
    .line,
    .node {
      background-color: var(--j-color-success-500);
    }
  }
}
