:root[theme="dark"] {
  --j-color-saturation: 50%;

  --j-color-primary-50: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    10%
  );
  --j-color-primary-100: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    20%
  );
  --j-color-primary-200: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    30%
  );
  --j-color-primary-300: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    40%
  );
  --j-color-primary-400: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    50%
  );
  --j-color-primary-500: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    60%
  );
  --j-color-primary-600: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    70%
  );
  --j-color-primary-700: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    80%
  );
  --j-color-primary-800: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    90%
  );
  --j-color-primary-900: hsl(
    var(--j-color-primary-hue),
    var(--j-color-saturation),
    95%
  );

  --j-color-success-100: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    10%
  );
  --j-color-success-200: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    20%
  );
  --j-color-success-300: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    30%
  );
  --j-color-success-400: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    40%
  );
  --j-color-success-500: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    50%
  );
  --j-color-success-600: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    60%
  );
  --j-color-success-700: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    70%
  );
  --j-color-success-800: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    80%
  );
  --j-color-success-900: hsl(
    var(--j-color-success-hue),
    var(--j-color-saturation),
    90%
  );

  --j-color-warning-100: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    10%
  );
  --j-color-warning-200: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    20%
  );
  --j-color-warning-300: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    30%
  );
  --j-color-warning-400: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    40%
  );
  --j-color-warning-500: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    50%
  );
  --j-color-warning-600: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    60%
  );
  --j-color-warning-700: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    70%
  );
  --j-color-warning-800: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    80%
  );
  --j-color-warning-900: hsl(
    var(--j-color-warning-hue),
    var(--j-color-saturation),
    90%
  );

  --j-color-danger-100: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    10%
  );
  --j-color-danger-200: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    20%
  );
  --j-color-danger-300: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    30%
  );
  --j-color-danger-400: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    40%
  );
  --j-color-danger-500: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    50%
  );
  --j-color-danger-600: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    60%
  );
  --j-color-danger-700: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    70%
  );
  --j-color-danger-800: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    80%
  );
  --j-color-danger-900: hsl(
    var(--j-color-danger-hue),
    var(--j-color-saturation),
    90%
  );

  --j-color-ui-hue: var(--j-color-primary-hue);
  --j-color-ui-50: hsl(var(--j-color-ui-hue), 15%, 26%);
  --j-color-ui-100: hsl(var(--j-color-ui-hue), 15%, 34%);
  --j-color-ui-200: hsl(var(--j-color-ui-hue), 15%, 41%);
  --j-color-ui-300: hsl(var(--j-color-ui-hue), 15%, 58%);
  --j-color-ui-400: hsl(var(--j-color-ui-hue), 15%, 66%);
  --j-color-ui-500: hsl(var(--j-color-ui-hue), 15%, 76%);
  --j-color-ui-600: hsl(var(--j-color-ui-hue), 15%, 86%);
  --j-color-ui-700: hsl(var(--j-color-ui-hue), 15%, 95%);
  --j-color-ui-800: hsl(var(--j-color-ui-hue), 15%, 97%);
  --j-color-ui-900: hsl(var(--j-color-ui-hue), 15%, 100%);

  --j-color-white: hsl(var(--j-color-ui-hue), 15%, 13%);
  --j-color-black: hsl(var(--j-color-ui-hue), 15%, 100%);

  --j-border-color: hsl(var(--j-color-ui-hue), 10%, 25%);

  /*  App specific styles */
  --app-main-sidebar-bg-color: hsl(var(--j-color-ui-hue), 10%, 14%);
  --app-main-sidebar-border-color: hsl(var(--j-color-ui-hue), 10%, 21%);
  --app-drawer-bg-color: hsl(var(--j-color-ui-hue), 10%, 15%);
  --app-drawer-border-color: hsl(var(--j-color-ui-hue), 10%, 21%);
  --app-channel-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-border-color: hsl(var(--j-color-ui-hue), 10%, 21%);
  --app-channel-header-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
  --app-channel-footer-bg-color: hsl(var(--j-color-ui-hue), 10%, 13%);
}

:root[theme="dark"] j-menu-item::part(base) {
  font-weight: 500;
  color: var(--j-color-ui-400);
}

:root[theme="dark"] j-menu-item::part(base) {
  font-weight: 500;
  margin-top: var(--j-space-100);
  margin-left: var(--j-space-300);
  margin-right: var(--j-space-300);
  border-radius: 6px;
  color: var(--j-color-ui-400);
}

:root[theme="dark"] j-menu-item:hover::part(base) {
  background: var(--j-color-ui-50);
  color: var(--j-color-ui-600);
}

:root[theme="dark"] j-menu-item[selected]::part(base) {
  background: hsl(var(--j-color-ui-hue), var(--j-color-saturation), 15%);
  color: hsl(var(--j-color-ui-hue), var(--j-color-saturation), 75%);
}

:root[theme="dark"] j-tabs {
  --j-tabs-indicator-bg: var(--j-color-primary-600);
}

:root[theme="dark"] j-modal::part(modal) {
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
}

:root[theme="dark"] j-tab-item::part(base) {
  color: var(--j-color-ui-600);
}

:root[theme="dark"] j-tab-item:hover::part(base) {
  color: var(--j-color-black);
}

:root[theme="dark"] j-input::part(input-wrapper) {
  background-color: hsl(var(--j-color-ui-hue), 18%, 23%);
}

:root[theme="dark"] j-tab-item[checked]::part(base) {
  color: var(--j-color-white);
}

:root[theme="dark"] j-message-item:hover::part(base) {
  background-color: hsl(var(--j-color-ui-hue), 18%, 17%);
}
