:root[theme="default"] {
  --j-color-saturation: 50%;

  --j-color-subtractor: 110%;
  --j-color-multiplier: -1;

  /*  App specific styles */
  --app-main-sidebar-bg-color: hsl(var(--j-color-ui-hue), 0%, 8%);
  --app-main-sidebar-border-color: transparent;
  --app-drawer-bg-color: hsl(var(--j-color-ui-hue), 0%, 13%);
  --app-drawer-border-color: transparent;
  --app-main-content-bg-color: hsl(var(--j-color-ui-hue), 0%, 17%);
  --app-channel-bg-color: hsl(var(--j-color-ui-hue), 0%, 30%);
  --app-channel-header-bg-color: hsl(var(--j-color-ui-hue), 0%, 13%);
  --app-channel-footer-bg-color: hsl(var(--j-color-ui-hue), 0%, 13%);
  --app-channel-border-color: transparent;
}

:root[theme="default"] j-modal::part(modal) {
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
}

:root[theme="default"] j-tooltip::part(tooltip) {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
}

:root[theme="default"] j-input::part(input-wrapper) {
  background-color: hsl(var(--j-color-ui-hue), 18%, 23%);
}

:root[theme="default"] j-menu-item::part(base) {
  margin-top: var(--j-space-100);
  margin-left: var(--j-space-400);
  margin-right: var(--j-space-400);
  border-radius: 6px;
}

:root[theme="default"] j-menu-item {
  --j-menu-item-color: hsl(var(--j-color-ui-hue), 0%, 70%);
}

:root[theme="default"] j-menu-item:hover {
  --j-menu-item-bg: hsl(var(--j-color-ui-hue), 0%, 20%);
  --j-menu-item-color: hsl(var(--j-color-ui-hue), 0%, 70%);
}

:root[theme="default"] j-menu-item[selected] {
  --j-menu-item-bg: hsl(var(--j-color-ui-hue), 0%, 26%);
  --j-menu-item-color: var(--j-color-black);
}
