.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    padding: 0;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--j-font-family);
    background-color: #000000c4;
    padding: var(--j-space-400);
    overflow-x: hidden;
    color: white;

    animation: appear 0.3s ease both;
}

@keyframes appear {
    0% {
        transform: translateY(-4rem);
        opacity: 0;
    }
  }