.header {
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: var(--j-space-600) var(--j-space-500) var(--j-space-600) var(--j-space-500);
}

.addButton {
  position: fixed;
  bottom: var(--j-space-800);
  right: var(--j-space-800);
  z-index: 999;
}