.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 320px);

  .results {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
