.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: var(--j-space-500);
  width: 100%;
}
@media (min-width: 800px) {
  .grid {
    padding: var(--j-space-500);
  }
}