.post {
  display: flex;
  width: 100%;
  gap: var(--j-space-400);
  text-decoration: none;
  color: currentColor;
  position: relative;
  overflow: hidden;
}

.postLeft {
  position: relative;
  display: flex;
  gap: var(--j-space-200);
}

.collapseIndicator {
  position: absolute;
  top: var(--j-size-md);
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
  background-color: var(--j-color-ui-100);
}

.collapseIndicator:hover {
  background-color: var(--j-color-ui-300);
}

.postContentWrapper {
  display: block;
  width: 100%;
}

.postBody {
  color: var(--j-color-ui-800);
}

.postBody *:first-of-type {
  margin-top: 0;
}

.postBody pre {
  background-color: rgba(0, 0, 0, 0.1);
  padding: var(--j-space-200);
}

.postDetails {
  display: flex;
  align-items: center;
  gap: var(--j-space-100);
  font-size: var(--j-font-size-400);
  color: var(--j-color-ui-500);
  padding-top: var(--j-space-200);
  padding-bottom: var(--j-space-300);
}

.authorName {
  color: var(--j-color-ui-800);
}

.authorName:hover {
  cursor: pointer;
  text-decoration: underline;
}
