.container {
  margin: 0 auto;
  padding: var(--j-space-800);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .wrapper {
    width: 100%;
  }

  .timelines {
    width: 50%;
    overflow-x: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}
