<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-V2n4GTDba-XwS3V7tiYm2KOfxG_DwZc</string>
	<key>GCM_SENDER_ID</key>
	<string>440878613926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coasys.flux</string>
	<key>PROJECT_ID</key>
	<string>flux-6e299</string>
	<key>STORAGE_BUCKET</key>
	<string>flux-6e299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440878613926:ios:18b2dc0704d14e5f627b67</string>
</dict>
</plist>