:root {
  --vp-c-brand: var(--j-color-primary-500);
  --vp-c-brand-light: var(--j-color-primary-600);
  --vp-c-brand-lighter: var(--j-color-primary-800);
  --vp-c-brand-dark: var(--j-color-primary-300);
  --vp-c-brand-darker: var(--j-color-primary-100);
}

html.dark {
  --j-color-saturation: 50%;
  --j-color-subtractor: 110%;
  --j-color-multiplier: -1;
}
