.history {
  height: var(--j-size-md);
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  gap: var(--j-space-300);
  flex-wrap: nowrap;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.historyItem {
  border: 0;
  background: 0;
  position: relative;
  padding: var(--j-space-200);
  border-radius: var(--j-border-radius);
  color: var(--j-color-ui-800);
  text-transform: uppercase;
  font-size: var(--j-font-size-200);
}

.historyItem:hover:not(:last-child) {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  color: var(--j-color-black);
}

.historyItem:not(:last-child)::after {
  position: absolute;
  right: calc(var(--j-space-300) * -1);
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  content: "/";
}

.historyItem:last-of-type {
  color: var(--j-color-white);
}

.entryUrl {
  font-size: var(--j-font-size-300);
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: var(--j-space-100);
  border-radius: var(--j-border-radius);
}

.tabs {
  width: 100%;
  padding: 0;
  display: flex;
  border: 0;
  gap: var(--j-space-100);
}

.tab {
  cursor: pointer;
  font-size: var(--j-font-size-400);
  border-top-right-radius: var(--j-border-radius);
  border-top-left-radius: var(--j-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--j-space-400);
  height: var(--j-size-sm);
  border: 0;
  background-color: transparent;
  color: var(--j-color-white);
}

.tab:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tab:has(input:checked) {
  background: var(--j-color-white);
  color: var(--j-color-primary-500);
  font-weight: 600;
  border: 0;
}

.tab input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  vertical-align: middle;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  background: var(--j-color-white);
  width: 100%;
  font-size: var(--j-font-size-400);
  text-align: left;
}

.table th,
.table td {
  border: 1px solid var(--j-color-ui-200);
  padding: var(--j-space-300) var(--j-space-400);
}

.table thead th {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
  font-weight: 400;
  text-transform: capitalize;
}

.table tbody td {
  cursor: pointer;
  font-weight: 400;
  color: var(--j-color-black);
}

.table tbody tr:hover {
  background-color: var(--j-color-ui-50);
}

.table thead th:first-of-type {
  border-top-left-radius: var(--j-border-radius);
}

.table thead th:last-of-type {
  border-top-right-radius: var(--j-border-radius);
}

.table thead th:first-of-type,
.table tbody td:first-of-type {
  border-left: 0;
}

.table thead th:last-of-type,
.table tbody td:last-of-type {
  border-right: 0;
}

.tabWrapper {
  max-width: 800px;
}

.img {
  max-width: 100%;
  width: 100%;
}

.tableSearch::part(input-wrapper) {
  border-radius: 0;
  border-left: 0;
  border-left: 0;
}

.details {
  color: var(--j-color-white);
  border-radius: 4px;
}

.details summary {
  font-size: var(--j-font-size-600);
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em;
}

.details[open] summary {
  margin-bottom: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--j-space-500);
}

.gridItem {
  text-align: left;
  cursor: pointer;
  background: var(--j-color-white);
  border-radius: var(--j-border-radius);
  padding: var(--j-space-500);
  border: 1px solid var(--j-color-ui-100);
}

.gridItem:hover {
  border: 1px solid var(--j-color-primary-500);
}
