.details {
  display: inline-block;
  padding: var(--j-space-500);
  border-radius: var(--j-border-radius);
}

.details > summary {
  list-style: none;
}

.details summary::-webkit-details-marker {
  display: none;
}

.details summary {
  cursor: pointer;
}
