body {
  padding: 0;
  margin: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  height: var(--j-size-md);
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: var(--j-border-radius);
  background: var(--j-color-primary-500);
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  margin-top: -8px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: var(--j-border-radius);
  border: 0;
  background: var(--j-color-ui-50);
  height: 8px;
}

.hljs {
  display: inline-block !important;
  max-width: 100%;
  padding: var(--j-space-500) !important;
  border-radius: var(--j-border-radius);
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
}

.table {
  width: 100%;
  box-shadow: var(--j-depth-100);
  border-collapse: collapse;
  border-radius: var(--j-border-radius);
  padding: 0px;
  margin: 0px;
  margin-top: var(--j-space-800);
  border: 0px;
  text-align: left;
}

.table tr:not(:last-of-type) td,
.table th {
  border-bottom: 1px solid var(--j-color-ui-100);
}

.tabe th {
  font-weight: 600;
}

.table td,
.table th {
  padding: var(--j-space-500);
  width: 150px;
}

.sidebar-link {
  text-decoration: none;
}

.layout {
  background-color: var(--j-main-content-bg);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "content";
}

.layout.sidebar-open {
  grid-template-columns: 250px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
}

.header {
  width: 100%;
  height: 70px;
  z-index: 1;
  padding-left: var(--j-space-500);
  padding-right: var(--j-space-500);
  background: var(--j-color-white);
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--j-color-ui-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
}

.sidebar {
  background: var(--j-color-white);
  grid-area: sidebar;
  position: sticky;
  top: 70px;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-right: 1px solid var(--j-color-ui-50);
}

.main-content {
  width: 100%;
  max-width: 800px;
  padding-left: var(--j-space-500);
  padding-right: var(--j-space-500);
  margin: 0 auto;
  scroll-behavior: smooth;
  grid-area: content;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--j-space-400);
  padding-top: var(--j-space-600);
  padding-left: var(--j-space-500);
  padding-right: var(--j-space-400);
  padding-bottom: var(--j-space-600);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--j-space-500);
  padding-top: var(--j-space-600);
}

.settings {
  height: 100px;
}

.section {
  padding-top: var(--j-space-500);
  margin-top: var(--j-space-1000);
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: var(--j-border-radius);
  border: 1px solid var(--j-color-ui-100);
}

.depth-box {
  width: 100px;
  height: 50px;
}

.space-box {
  background: var(--j-color-primary-500);
  display: inline-block;
}

.space-box__inner {
  width: 30px;
  height: 30px;
  background: var(--j-color-white);
}
