.post {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: var(--j-space-500);
  text-decoration: none;
  color: currentColor;
  position: relative;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
}

.card .postImageWrapper:has(j-icon) {
  display: none;
}

.compact {
  grid-template-columns: 1fr 3fr;
}

.grid .postImageWrapper {
  aspect-ratio: 1/1;
}

.grid .postImage {
  height: 100%;
}

.postImageWrapper {
  background-color: rgba(255,255,255,0.02);
  border-radius: var(--j-border-radius);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.postUrl {
  margin-top: var(--j-space-200);
  display: flex;
  align-items: center;
  gap: var(--j-space-200);
}

.postUrl a {
  color: var(--j-color-primary-500);
}

.postImage {
  object-fit: cover;
  max-width: 100%;
  max-height: 550px;
}

.postTitle {
  font-weight: 500;
  font-size: var(--j-font-size-700);
  margin-bottom: var(--j-space-200);
  color: var(--j-color-black);
}

.postBody {
  color: var(--j-color-ui-600);
  max-height: 150px;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.postDetails {
  display: flex;
  flex-wrap: wrap;
  gap: var(--j-space-100);
  font-size: var(--j-font-size-400);
  color: var(--j-color-ui-500);
}

.timestamp {
  color: var(--j-color-ui-300);
  font-size: var(--j-font-size-400);
}

.authorName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.postDates {
  display: flex;
  flex-direction: column;
  gap: var(--j-space-200);
  margin-top: var(--j-space-200);
}

.postDate {
  display: flex;
  gap: var(--j-space-200);
}

.postIcon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  background-color: var(--j-color-ui-100);
}

.calendar {
  display: grid;
  grid-template-rows: 1fr 3fr;
  text-align: center;
  width: 100%;
  height: 100%;
}

.calendarMonth {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: var(--j-font-size-600);
  color: var(--j-color-black);
  padding: var(--j-space-300);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.calendarDate {
  width: 100%;
  font-size: var(--j-font-size-900);
  color: var(--j-color-black);
  font-weight: 900;
  place-self: center;
}