.wrapper {
    background: var(--j-color-ui-50);
    border-top-left-radius: var(--j-border-radius);
    border-top-right-radius: var(--j-border-radius);
    border-bottom: 1px solid var(--j-color-ui-100);
}