.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--j-space-500);
}

.postImageWrapper {
  background-color: var(--j-color-ui-200);
  border-radius: var(--j-border-radius);
  overflow: hidden;
  aspect-ratio: 9/6;
}

.postImage {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.postTitle {
  font-weight: 500;
  font-size: var(--j-font-size-600);
  color: var(--j-color-black);
}

.postDetails {
  display: flex;
  gap: var(--j-space-100);
  font-size: var(--j-font-size-400);
  color: var(--j-color-ui-500);
}