.wrapper {
    display: block;
    width: 100%;
    background: var(--j-color-white);
    border: 1px solid var(--j-border-color);
    border-radius: var(--j-border-radius);
    outline: 0;
    min-height: 100px;
    box-sizing: border-box;
}

.toolbar {
    display: block;
}

.body {
    padding: var(--j-space-400);
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--j-space-400);
}

.wrapper:hover:not(:focus-within) {
    border: 1px solid var(--j-border-color-strong);
}
  
.wrapper:focus-within {
    border: 1px solid var(--j-color-focus);
}
  
.body > div > *:first-of-type {
    margin-top: 0;
}
  
.body > div > *:last-of-type {
    margin-bottom: 0;
}
  
.body > div > code {
    background-color: rgba(0, 0, 0, 0.1);
    padding: var(--j-space-200);
}