.wrapper {
    display: block;
    width: 100%;
    background: var(--j-color-white);
    border: 1px solid var(--j-border-color);
    border-radius: var(--j-border-radius);
    outline: 0;
    padding: var(--j-space-400);
    min-height: 100px;
    box-sizing: border-box;
}

.wrapper:hover:not(:focus-within) {
    border: 1px solid var(--j-border-color-strong);
}
  
.wrapper:focus-within {
    border: 1px solid var(--j-color-focus);
}
  
.editor *:first-of-type {
    margin-top: 0;
}
  
.editor pre {
    background-color: rgba(0, 0, 0, 0.1);
    padding: var(--j-space-200);
}