.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    gap: var(--j-space-400);
    padding: var(--j-space-400) 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--j-color-ui-500);
}

.username {
    font-size: bold;
}